* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	min-height: 100vh;
	font-family: arial;
	background: #f2f2f2;
}

canvas {
	background: white;
	border: 1px solid rgba(0, 0, 0, .1);
	cursor: crosshair;
}

main {
	display: flex;
	justify-content: space-between;
}

aside {
	padding: 0 16px;
}

.drawing_tool {
	display: flex;
	padding: 10px 16px;
	cursor: pointer;
	border: 1px solid rgb(0, 0, 0, .2);
	border-radius: 2px;
	background: white;
	font-size: 26px;
}

.drawing_tool:not(:last-child) {
	margin-bottom: 16px;
}

.drawing_tool:hover {
	background: lightgrey;
}

.drawing_tool.selected {
	background: grey;
	color: white;
}